/* Global styles for the entire application */
.App {
  text-align: center;
}

/* Styles for the application header */
.app-header {
  background-color: #282c34;
  display: flex;
  color: white;
  align-content: normal;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  font-size: 2rem;
}

/* Styles for the quote display container */
.show-quote {
  max-width: 800px;
  margin: 2rem auto;
  /* display: flex; */
  /* align-items: center; */
}

/* Styles for the star icon used for favorites */
.fa-star {
  cursor: pointer;
}

/* Styles for the list of favorite quotes */
.favorite-quotes {
  list-style-type: none;
  max-width: 800px;
  margin: auto;
}

/* Styles for each favorite quote item */
.favorite-quotes li {
  display: flex;
  align-items: center;
}

/* Styles for the text within each favorite quote item */
.favorite-quotes li p {
  margin-block: 1rem;
  text-align: left;
  margin-left: 3rem;
  line-height: 1.5;
  font-size: 1.25rem;
  @media (max-width: 900px) {
    margin-left: 1.5rem;
  }
}

/* Styles for the span within each favorite quote item */
.favorite-quotes li p span {
  font-size: 80%;
}

/* Styles for the main select element */
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin: 1rem;
  cursor: pointer;
}

/* Styles for the selected option within the select element */
select option:checked {
  background-color: #f9f106;
  color: #333;
}

/* Styles for options within the select element */
select option {
  background-color: #fff;
  color: #666;
}

/* Styles for the select element when focused */
select:focus {
  /* border-color: #007bff; */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Styles for the "Show me another quote" button */
.btn-show-another-quote {
  cursor: pointer;
}

.katgory-btn-container{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
  overflow-x: auto; /* הוספת גלילה אופקית רק כאשר הכפתורים לא יכולים להיכנס בשורה אחת */
  /* white-space: nowrap;  */
}

/* סגנון עיקרי לכפתורים */
.katgory-btn {
  background-color: rgb(185 184 185);
  color: white; /* צבע הטקסט */
  border: none; /* ללא גבול */
  margin: 1rem; /* מרווחים חיצוניים */
  border-radius: 5px; /* פינות מעוגלות */
  cursor: pointer; /* הפרמטר כדי להציג יד למעבר בעכבר */
  font-size: 16px; /* גודל הטקסט */
  font-weight: bold; /* משקל הטקסט */
  transition: background-color 0.3s ease; /* אנימציה לשינוי הרקע */
  height: 4rem;
  width: 8rem;
}

/* סגנון כאשר העכבר עובר מעל */
.katgory-btn:hover {
  background-color: #282c34; /* שינוי רקע כאשר העכבר עובר מעל */
}

/* סגנון לכשהכפתור נלחץ */
.katgory-btn:active {
  background-color: #003c80; /* שינוי רקע כאשר הכפתור נלחץ */
}

/* סגנון עבור הטקסט שבתוך הכפתור */
.katgory-btn span {
  margin-left: 5px; /* מרווח משמאל של הטקסט */
}


/* סגנון להרגשת חמימות בכפתורים */
.katgory-btn.warm {
  background-color: #ffc107;
  color: #333;
}

.quote-preview{
  display: flex;
  max-width: 800px;
  justify-content: flex-start;
  align-items: center;
}

.quote-preview p {
  margin-block: 1rem;
  text-align: left;
  margin-left: 3rem;
  line-height: 1.5;
  font-size: 1.25rem;
  @media (max-width: 900px) {
    margin-left: 1.5rem;
  };
}

.quote-preview p span {
  font-size: 80%;
}

ul {
  padding: 0;
}

.loading{
  padding: 3rem;
}