/* Global styles for the entire application */
.App {
  text-align: center;
}

/* Styles for the application header */
.app-header {
  background-color: #282c34;
  display: flex;
  color: white;
  align-content: normal;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2rem;
  font-size: 2rem;
}

/* Styles for the quote display container */
.show-quote {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  height: 8rem;
  @media (max-width: 768px) {
    height: 100%;
  }
}

/* Styles for the quote text within the display container */
.show-quote p {
  margin-block: 1rem;
  text-align: left;
  margin-left: 3rem;
  @media (max-width: 900px) {
    margin-left: 1.5rem;
  }
  line-height: 1.5;
  font-size: 1.25rem;
}

/* Styles for the author span within the quote display */
.show-quote p span {
  font-size: 80%;
}

/* Styles for the star icon used for favorites */
.fa-star {
  cursor: pointer;
}

/* Styles for the list of favorite quotes */
.favorite-quotes {
  list-style-type: none;
  max-width: 800px;
  margin: auto;
}

/* Styles for the unordered list element */
ul {
  @media (max-width: 900px) {
    padding-inline-start: 0px;
  }
}

/* Styles for each favorite quote item */
.favorite-quotes li {
  display: flex;
  align-items: center;
}

/* Styles for the text within each favorite quote item */
.favorite-quotes li p {
  margin-block: 1rem;
  text-align: left;
  margin-left: 3rem;
  @media (max-width: 900px) {
    margin-left: 1.5rem;
  }
  line-height: 1.5;
  font-size: 1.25rem;
}

/* Styles for the span within each favorite quote item */
.favorite-quotes li p span {
  font-size: 80%;
}

/* Styles for the main select element */
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin: 1rem;
  cursor: pointer;
}

/* Styles for the selected option within the select element */
select option:checked {
  background-color: #f9f106;
  color: #333;
}

/* Styles for options within the select element */
select option {
  background-color: #fff;
  color: #666;
}

/* Styles for the select element when focused */
select:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Styles for the container of favorite quotes */
.favorite-quote {
  margin: 100px;
}

/* Styles for the "Show me another quote" button */
.btn-show-another-quote {
  cursor: pointer;
}
